.moderators-card-wrapper
  padding-top: 10px
  padding-bottom: 10px
  display:  grid
  grid-template-columns: repeat(3, 1fr)


.moderator-card
  width: 500px
  height: 400px

.moderator-card-content
  padding-top: 10px
  padding-bottom: 10px
  max-height: 300px
  overflow: auto

.toolbar-btn
  margin-right: 10px

.card-btn
  margin-right: 10px
