<div class="header-wrapper">
  <mat-sidenav-container class="header">
    <mat-toolbar>
      <h3>
        <span>MarkUp</span>
      </h3>
      <button mat-button routerLink="/datasets" class="header-btn">Datasets</button>

      <span class="example-spacer"></span>

      <button *ngIf="!isAuthenticated" mat-button class="header-btn"
              (click)="auth.openLoginDialog('/')">
        <mat-icon>login</mat-icon>
        Sign In
      </button>
      <button *ngIf="isAuthenticated" mat-button class="header-btn" [matMenuTriggerFor]="user_submenu">
        <mat-icon>account_circle</mat-icon>
        {{authenticatedUser.username}}
      </button>
      <mat-menu #user_submenu>
        <button mat-menu-item (click)="auth.handleLogoutRequest('/')">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>
    </mat-toolbar>
  </mat-sidenav-container>
</div>
