<div class="row-wrapper max-height">
  <div class="col-wrapper lists-wrapper">
    <mat-card class="file-list">
      <mat-card-header>
        <mat-card-title>
          {{storage.datasetName}} ({{storage.cursor + 1}}/{{storage.names.length}})
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="storage.downloading">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          {{storage.dataset.length}}/{{storage.maxSize}}
        </div>
      </mat-card-content>
      <mat-card-content class="file-list-content">
        <mat-selection-list multiple="false" hideSingleSelectionIndicator="true">
          <mat-list-option *ngFor="let name of storage.names"
                           [selected]="name == storage.names[storage.cursor]"
                           (click)="goToData(name)">
            <div matListItemTitle>{{name}}</div>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="label-list">
      <mat-card-header>
        <mat-card-title>Labels</mat-card-title>
      </mat-card-header>
      <mat-card-content class="label-list-content">
        <mat-selection-list #labelList multiple="false" hideSingleSelectionIndicator="true">
          <mat-list-option *ngFor="let label of labels | keyvalue" selected="false" [value]="label.key"
                           [style.background-color]="getColor(label.value)"
                           class="label-list-option"
                           (click)="selectLabel(label.key)">
            <div class="row-wrapper">
              <div class="label-name">
                <p>{{label.value}}</p>
              </div>
              <button mat-icon-button (click)="changeLabelVisibility(label.key)">
                <mat-icon *ngIf="label.key.isVisible()">visibility</mat-icon>
                <mat-icon *ngIf="!label.key.isVisible()">visibility_off</mat-icon>
              </button>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="display-wrapper">
    <mat-card class="display-zone">
      <mat-card-header *ngIf="storage.current()">
        <mat-card-title>File: {{storage.current().imageName}}</mat-card-title>
        <span class="display-toolbar-spacer"></span>
        <button mat-raised-button color="primary" (click)="prev()">Prev</button>
        <button mat-raised-button color="primary" (click)="next()">Next</button>
      </mat-card-header>
      <mat-card-content class="display-card-content">
        <div *ngIf="!storage.dataset.length" class="display-spinner">
          <mat-spinner mode="indeterminate"></mat-spinner>
        </div>
        <div id="img-container">
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
