.file-list
  height: 70%
  margin-bottom: 5px

.label-list
  height: 30%
  margin-top: 5px

.label-list-option
  border-radius: 10px
  margin-bottom: 2px

.lists-wrapper
  width: 20%
  margin-right: 5px
  padding-bottom: 5px

.display-wrapper
  width: 80%
  height: 100%
  margin-left: 5px

.display-zone
  height: 100%

.display-spinner
  position: absolute

.max-height
  padding: 10px
  height: 90%

.max-width
  width: 100%

.file-list-content
  overflow: auto

.label-list-content
  overflow: auto

.display-card-content
  overflow: auto
  display: flex

.display-toolbar-spacer
  flex: 1 1 auto

.loading-bar
  width: 100%

.display-btn
  margin: auto 0 auto 5px

.display-header
  padding: 5px 16px

.scales
  width: 75px
