.dataset-list
  border-color: black
  border-radius: 2px
  width: 100%

.list-header
  padding-bottom: 10px

.list-header-spacer
  flex: 1 1 auto

.list-actions
  width: 100%

.list-title
  font-size: 20px
  margin-top: 5px

.list-btn
  width: 100%
  justify-content: left
  font-size: 20px

.list-header-btn
  margin: 0 5px 0 5px

.list-divider
  margin-bottom: 10px
