@use "@angular/material" as mat
@include mat.core

$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$blue-gray-palette),accent: mat.define-palette(mat.$amber-palette),),typography: mat.define-typography-config(),density: 0,))

$light-theme: mat.define-light-theme((color: (primary: mat.define-palette(mat.$cyan-palette),accent: mat.define-palette(mat.$blue-palette),),))

@include mat.all-component-themes($light-theme)

@media (prefers-color-scheme: light)
  @include mat.all-component-colors($light-theme)

html, body
  height: 100%

body
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif

.content-wrapper
  padding: 10px
  max-width: 1600px
  width: 100%
  height: 90%
  min-height: 810px
  background-color: aliceblue
  margin: 0 auto

.row-wrapper
  display: flex
  flex-direction: row
  justify-content: space-between

.col-wrapper
  display: flex
  flex-direction: column
  width: 100%

.scroll
  &::-webkit-scrollbar
    width: 8px
    height: 8px
  &::-webkit-scrollbar-track
    background: white
  &::-webkit-scrollbar-thumb
    background-color: lightgrey
    border-radius: 20px
